/*Guillermo Sanchez Becerra*/
/* Estilos generales para el cuerpo de la página */
body {
    font-family: 'JetBrains Mono', monospace; /* Fuente de texto */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
    width: 1280px; /* Establece un ancho máximo para el cuerpo de la página */
}

/* Estilos específicos para la página con el id "news-page" */
#news-page {
    background-image: url("img/bg.jpg"); /* Establece una imagen de fondo */
}

/* Estilos específicos para la página con el id "main-page" */
#main-page {
    background-color: #81a493; /* Establece el color de fondo */
}

/* Estilos para el elemento <main> */
main {
    margin-top: 10px; /* Agrega un margen superior de 10px */
}

/* Estilos para la navegación */
nav {
    list-style-type: none; /* Elimina los marcadores de lista */
    background-color: #ccc; /* Establece el color de fondo de la navbar */
}

/* Estilos para elementos de lista <li> dentro de la navbar */
li {
    display: inline-block; /* Hace que los elementos de lista sean elementos en línea */
    width: 20%; /* Establece un ancho del 20% para cada elemento de lista */
}

/* Estilos para los enlaces <a> dentro de elementos <li> */
a {
    color: black; /* Establece el color del texto */
    text-decoration: none; /* Elimina la decoración de enlace subrayado */
    display: block; /* Convierte los enlaces en bloques para que ocupen todo el ancho de <li> */
    padding: 10px; /* Agrega espacio de relleno alrededor del texto del enlace */
}

/* Estilos para los enlaces <a> dentro de elementos <li> cuando se desplazan sobre ellos */
a:hover {
    background-color: #357a38; /* Cambia el color de fondo en el desplazamiento */
    color: white; /* Cambia el color del texto en el desplazamiento */
}

/* Estilos para las tarjetas */
.card-news {
    border: 1px solid #ccc; /* Establece un borde */
    border-radius: 40px; /* Agrega bordes redondeados a las cajas de la pagina de noticias*/
    margin-bottom: 20px; /* Agrega espacio inferior */
    background-color: #dfdcdc; /* Establece el color de fondo de la caja*/
}

/* Estilos para las imágenes dentro de las tarjetas */
.card-news img {
    float: left; /* Hace que la imagen flote a la izquierda del texto */
    width: 15s0px; /* Establece un ancho fijo para la imagen */
    height: 150px; /* Establece una altura fija para la imagen */
    margin-right: 20px; /* Agrega margen derecho a la imagen */
}

/* Estilos para el contenido dentro de las tarjetas */
.card-content {
    padding: 20px; 

}

/* Estilos para tablas y sus encabezados y filas */
table, th, tr {
    border: 2px dotted #f0f0f0; /* Establece un borde dotted */
}

/* Estilos para la tabla */
table {
    width: 1024px; /* Establece un ancho del 80% */
    margin: 0 auto; /* Centra la tabla horizontalmente en su contenedor */
    border-collapse: collapse; /* Combina los bordes de la tabla */
    background-color: #ccc; /* Establece el color de fondo de la tabla */
}

/* Estilos para el formulario */
form {
    width: 768px; /* Establece un ancho del 60% */
    margin: 0 auto; /* Centra el formulario horizontalmente en su contenedor */
}

/* Estilos para el título de tabla */
caption {
    font-size: larger; /* Establece el tamaño de fuente más grande */
    font-weight: bolder; /* Hace que el texto sea negrita */
}

/* Estilos para los títulos h1 y h2 */
h2, h1 {
    text-align: center; /* Centra los títulos horizontalmente */
    color: #2e7d32; /* Color de texto verde oscuro */
}

/* Estilos para un elemento con el id "home-card" */
#home-card {
    background-color: #f0f0f0; /* Establece el color de fondo */
    padding: 10px; 
    border-radius: 10px;
}

/* Estilos para las tarjetas de inicio */
#home-card-container {
    width: 800px; 
    margin: 0 auto; /* Centra la tarjeta horizontalmente en su contenedor */
    background-color: #fff; /* Establece el color de fondo */
    border-radius: 40px; /* Agrega bordes redondeados */
}

/* Estilos para el contenido dentro de las tarjetas de inicio */
#home-card-content {
    padding: 20px;
    display: inline-block; /* Hace que el contenido sea en línea */
    width: 50%; 
}

/* Estilos para un elemento con el id "home-image" */
#home-image {
    width: 320px; 
    display: inline-block; /* Hace que la imagen sea en línea */
    vertical-align: top; /* Alinea la imagen en la parte superior */
}

/* Estilos para elementos <span> */
span {
    font-weight: bolder; 
    color: #3b5c13; 
    font-size: large; 
}

/* Estilos para un elemento con el id "organizaciones-medioambientales" */
#organizaciones-medioambientales {
    text-align: center; /* Centra el texto horizontalmente */
}

/* Estilos para un div dentro de un elemento <footer> */
footer > div {
    text-align: center; /* Centra el texto horizontalmente */
    height: 40px; 
}
/* Estilo general para el formulario */
form {
    background-color: #e0f2e9; /* Color de fondo verde pastel */
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    margin: 0 auto;
  }
  
  /* Estilo para las etiquetas de los campos de entrada */
  label {
    color: #2e7d32; /* Color de texto verde oscuro */
    font-weight: bold;
  }

  
  /* Estilo para los campos de entrada de texto */
  input[type="text"], fieldset{
    width: 750px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2e7d32; /* Borde verde oscuro */
    border-radius: 5px;
  }
  
  /* Estilo para el selector (select) */
  select {
    width: 770px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2e7d32; /* Borde verde oscuro */
    border-radius: 5px;
  }
  
  /* Estilo para los botones de radio y casillas de verificación */
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Estilo para los botones de envío */
  input[type="submit"] {
    background-color: #346336; /* Color de fondo verde oscuro */
    color: #fff; /* Color de texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Estilo para las leyendas (legend) */
  legend {
    color: #2e7d32; /* Color de texto verde oscuro */
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Estilo para las etiquetas de casillas de verificación y radio */
  label[for="masculino"],
  label[for="femenino"],
  label[for="otro"],
  label[for="electronica"],
  label[for="ropa"],
  label[for="comida"],
  label[for="otros"],
  label[for="reciclaje"],
  label[for="medioambiente"],
  label[for="voluntariado"],
  label[for="variado"],
  label[for="newsletter"],
  label[for="privacidad"] {
    color: #2e7d32; /* Color de texto verde oscuro */
  }
  
  /* Estilo para el enlace de privacidad */
  a.privacidad-link {
    color: #2e7d32; /* Color de texto verde oscuro */
    text-decoration: none;
  }
  
  /* Estilo para los enlaces de privacidad */
  a.privacidad-link:hover {
    text-decoration: underline;
  }
  