/*Guillermo Sanchez Becerra*/
/* Estilos generales para el cuerpo de la página */
body {
    font-family: 'JetBrains Mono', monospace; /* Fuente de texto */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
    width: 1280px; /* Establece un ancho máximo para el cuerpo de la página */
}

/* Estilos específicos para la página con el id "news-page" */
#news-page {
    background-image: url("img/bg.jpg"); /* Establece una imagen de fondo */
}

/* Estilos específicos para la página con el id "main-page" */
#main-page {
    background-color: #81a493; /* Establece el color de fondo */
}

/* Estilos para el elemento <main> */
main {
    margin-top: 10px; /* Agrega un margen superior de 10px */
}

/* Estilos para la navegación */
nav {
    list-style-type: none; /* Elimina los marcadores de lista */
    background-color: #ccc; /* Establece el color de fondo de la navbar */
}

/* Estilos para elementos de lista <li> dentro de la navbar */
li {
    display: inline-block; 
    width: 248px; 
}

/* Estilos para los enlaces <a> dentro de elementos <li> */
a {
    color: black; 
    text-decoration: none; 
    display: block; 
    padding: 10px; 
}

/* Estilos para los enlaces <a> dentro de elementos <li> cuando se desplazan sobre ellos */
a:hover {
    background-color: #357a38; 
    color: white; 
}

/* Estilos para las tarjetas */
.card-news {
    border: 1px solid #ccc; 
    border-radius: 40px;
    margin-bottom: 20px; 
    background-color: #dfdcdc; 
}

/* Estilos para las imágenes dentro de las tarjetas */
.card-news img {
    float: left; 
    width: 15s0px; 
    height: 150px; 
    margin-right: 20px; 
}

/* Estilos para el contenido dentro de las tarjetas */
.card-content {
    padding: 10px; 
    width: 1280px;
    height: 140px;

}

/* Estilos para tablas y sus encabezados y filas */
table, th, tr {
    border: 2px dotted #f0f0f0; 
}

/* Estilos para la tabla */
table {
    width: 1024px; 
    margin: 0 auto; 
    border-collapse: collapse; 
    background-color: #ccc; 
}


/* Estilos para el título de tabla */
caption {
    font-size: larger; 
    font-weight: bolder;
}

/* Estilos para los títulos h1 y h2 */
h2, h1 {
    text-align: center; 
    color: #2e7d32; 
}

/* Estilos para un elemento con el id "home-card" */
#home-card {
    background-color: #f0f0f0; 
    padding: 10px; 
    border-radius: 10px;
}

/* Estilos para las tarjetas de inicio */
#home-card-container {
    width: 800px; 
    margin: 0 auto; 
    background-color: #fff; 
    border-radius: 40px; 
}

/* Estilos para el contenido dentro de las tarjetas de inicio */
#home-card-content {
    padding: 20px;
    display: inline-block; 
    width: 430px; 
}

/* Estilos para un elemento con el id "home-image" */
#home-image {
    width: 320px; 
    display: inline-block; 
    vertical-align: top; 
}

/* Estilos para elementos <span> */
span {
    font-weight: bolder; 
    color: #3b5c13; 
    font-size: large; 
}

/* Estilos para un elemento con el id "organizaciones-medioambientales" */
#organizaciones-medioambientales {
    text-align: center; 
}

/* Estilos para un div dentro de un elemento <footer> */
footer > div {
    text-align: center; 
    height: 40px; 
}
/* Estilo general para el formulario */
form {
    background-color: #e0f2e9; 
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    margin: 0 auto;
  }
  
  /* Estilo para las etiquetas de los campos de entrada */
  label {
    color: #2e7d32; 
    font-weight: bold;
  }

  
  /* Estilo para los campos de entrada de texto */
  input[type="text"], fieldset{
    width: 750px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2e7d32; 
    border-radius: 5px;
  }
  
  /* Estilo para el selector (select) */
  select {
    width: 770px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2e7d32; 
    border-radius: 5px;
  }
  
  /* Estilo para los botones de radio y casillas de verificación */
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Estilo para los botones de envío */
  input[type="submit"] {
    background-color: #346336; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Estilo para los legend */
  legend {
    color: #2e7d32; 
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Estilo para las etiquetas de casillas de verificación y radio */
  label[for="masculino"],
  label[for="femenino"],
  label[for="otro"],
  label[for="electronica"],
  label[for="ropa"],
  label[for="comida"],
  label[for="otros"],
  label[for="reciclaje"],
  label[for="medioambiente"],
  label[for="voluntariado"],
  label[for="variado"],
  label[for="newsletter"],
  label[for="privacidad"] {
    color: #2e7d32; 
  }
