body {
  /* Este será el ancho de la resolución con la que trabajaremos */
  width: 1280px;
}

nav {
  width: 96.88%;
  margin: 1.56%;

  background-color: burlywood;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  width: 20%;
  /* width: 250px */
}

a {
  display: inline-block;
  /* 
    En el boceto especifique que cada a debia de medir 270 en total.
    Como tambien especifique el padding de 10px, la medida de la caja sera de 250px
  */
  width: 100%;
  padding: 0 10px;
  height: 40px;
}

main {
    background-color: bisque;
    /* 
    Al igual que con el nav, al estar contenido el main en el body,
    el main debera de tener una anchura de 1240px que, 
    junto a los 20px por lado de los margenes, crearan una caja de 1280px
     */
    width: 96.88%;
    margin: 0px 1.56%;
}

.div-informacion {
  overflow: hidden;
  /* 
  Este div se encuentra dentro del main, el cual tiene una anchura de 1240px.
  La anchura de la caja es de 1220px, que junto a los margenes hacen un total de
  1240px (caja contenedora)
    */
  width: 98.39%;
  margin: 0.81%;
}

.div-imagen {
  /* Establecemos una anchura de la imagen de 150px */
  width: 12.1%;
  height: 150px;
  /* Asi como unos margenes de 5 pixeles */
  margin: 0.40%;
  float: left;
  background-color: brown;
    
}

.div-contenido {
  /* Establecemos una anchura de 1050px */
  width: 84.68%;
  height: 150px;
  /* 
    Y unos margenes de 5 pixeles.
    El tamaño de esta caja (1050+5+5), junto al tamño de la imagen (150+5+5),
    suma un total de 1220px (tamaño de la caja contenedora)
  */
  margin: 0.40%;
  float: right;
  background-color: aqua;
}

table {
    border-collapse: collapse;
    /* Establecemos una anchura de 800px para la tabla */
    width: 62.50%;
    margin: 0.78% auto;
    background-color: aquamarine;
}

tr {
    height: 50px;
}

form {
  background-color: #e0f2e9; 
  padding: 1.56%;
  border-radius: 10px;
  /* 
  Establecemos un ancho del formulario de 800 pixeles y
  junto a los 20px del padding, hace un width total de 840px.
  */
  width: 62.50%;
  height: 700px;
  margin: 0 auto;
}
  
/* Estilo para las etiquetas de los campos de entrada */
label {
    color: #2e7d32; 
    font-weight: bold;
    display: inline-block;
    /* Establecemos un ancho del label de 120px, que junto a los margenes hara un total de 130 (120+5+5) */
    width: 15%;
    height: 20px;
    margin: 0.63%;
}
  
/* Estilo para los campos de entrada de texto */
input[type="text"], fieldset{
  /* 
  El ancho, tanto del input como del fieldset será de 750px.
  Junto a los paddings, los márgenes y el borde obtendremos una caja de
  ancho total de 750+10+10+5+5+1+1 -> 782px
  */
  width: 93.75%;
  height: 2.50%;
  border: 1px solid #2e7d32; 
  padding: 1.25%;
  margin: 0.63%;
  border-radius: 5px;
}

fieldset {
    height: 50px;
}
  
/* Estilo para los botones de radio y casillas de verificación */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

/* Estilo para los botones de envío */
input[type="submit"] {
  background-color: #346336; 
  width: 12.50%;
  height: 40px;
  color: #fff; 
  border: none;
  padding: 1.25% 2.50%;
  border-radius: 5px;
    /* El tamaño total de la caja será de
    100px de ancho. Debido a que por defecto tiene la propiedad de border box
    el width será de 60px mas los 20 por lado del padding
    haran un total de 100px */
  cursor: pointer;
  font-weight: bold;
}
  
/* Estilo para los legend */
legend {
  color: #2e7d32; 
  font-weight: bold;
  margin-top: 10px;
}